<div class="footer">
<div class="sub_footer">
<div>
  <ul>
    <li>Home</li>
    <li>Register</li>
    <li>Login</li>
    <li>Offers</li>
    <li>Cart</li>
  </ul>
</div>
<div >
  <ul>
    <li>Home</li>
    <li>Register</li>
    <li>Login</li>
    <li>Offers</li>
    <li>Cart</li>
  </ul>
</div>
</div>
<div class="sub_footer2">
  <div>
    <ul>
      <li>Home</li>
      <li>Register</li>
      <li>Login</li>
      <li>Offers</li>
      <li>Cart</li>
    </ul>
  </div>
  <div>
    <ul>
      <li>Home</li>
      <li>Register</li>
      <li>Login</li>
      <li>Offers</li>
      <li>Cart</li>
    </ul>
  </div>
  <div>
    <input class="form-control" type="email" id="email" name="email" placeholder="Enter your Email" >
    <button type="submit">Subscribe Now</button>
  </div>
</div>

</div>
<div style="background-color: black;">
  <h1>@Copyright</h1>
</div>
