<div class="footer">
<div class="sub_footer">
<div>
  <ul>
    <p>About</p>
    <li routerLink="">Home</li>
    <li routerLink="/user/register">Register</li>
    <li routerLink="/user/login">Login</li>
    <li routerLink="/user/register">Offers</li>
  </ul>
</div>
<div >
  <ul>
    <p>Help</p>
    <li>Payment</li>
    <li>Shipping</li>
    <li>Cancellence & returns</li>
    <li>FAQ</li>
  </ul>
</div>
</div>
<div class="sub_footer2">
  <div>
    <ul>
      <p>Social</p>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Youtube</li>
      <li>Instagram</li>
    </ul>
  </div>
  <div>
    <ul>
      <p>Top Deals</p>
      <li>Top selling</li>
      <li>Offer zone</li>
    </ul>
  </div>
  <div>
    <input class="form-control" type="email" id="email" name="email" placeholder="Enter your Email" >
    <button type="submit">Subscribe Now</button>
  </div>
</div>
</div>
<div style="background-color: black;">
  <h1>@Copyright</h1>
</div>
