<app-usernavbar></app-usernavbar>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/women_footwear1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/women_footwear4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/women_footwear3.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="loader" *ngIf="isLoading"></div>
<div class="row">
  <div class="card2" style="width: 18rem;" *ngFor="let data of allData">
    <img [src]="data.thumbnail" class="card-img-top" alt="..." class="all_image"><br>
    <div class="card-body">
      <h5 class="card-title">{{data.category}}</h5>
      <span>{{data.title}}</span>
      <p class="card-text">{{data.brand}}</p>
      <p style="color: #777;">{{data.price|currency:'INR'}}</p>
   <div class="cart">
    <button href="#" class=" btn1">Add to Cart</button>
   </div>
</div>
  </div>
</div>
<app-footer></app-footer>
