<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      Shopping Cart
    </a>
    <a class="home" routerLink="/">Home</a>
  </div>
</nav>

<div class="">
<h2>Shopping cart <span style="color: red;">({{cartArray.length}})</span></h2>

<!-- cart items details -->
<div class="small-container cart-page">
 <div class="scroll">
  <table>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Prize</th>
      <th>Action</th>
    </tr>
    <tbody  *ngFor="let data of cartArray">
      <tr>
        <td >
          <div class="cart-info" >
            <img [src]="data.thumbnail" alt="" />
            <div>
              <p style="font-size: 17px;color: red;">{{data.brand}}</p>
              <small>{{data.title}}</small>
            </div>
          </div>
        </td>
         <td>{{data.quantity}}</td>
        <td>{{data.quantity*data.price|currency:'INR'}}</td>
        <td style="font-size: 22px;padding-left: 17px;">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#d41111}</style><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z" style="cursor: pointer;"  (click)="removeItem(data)"/></svg>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
    <div class="Order">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Order Summary</h5>
         <div class="card-text" style="display: flex;">
          <div >Sub Total</div><div><p style="text-align: end;width: 190px;">{{ calculateTotals(cartArray).totalPrice | currency:'INR' }}</p></div>
         </div>
         <div class="card-text" style="display: flex;">
          <div >Gst Total</div><div><p style="text-align: end;width: 193px;">{{calculateTotals(cartArray).totalGST | currency:'INR'}}</p></div>
         </div>
         <hr>
         <div class="card-text" style="display: flex;">
          <div >Grand Total</div><div><p style="text-align: end;width: 175px;">{{ calculateTotals(cartArray).grandTotal | currency:'INR' }}</p></div>
         </div>
         <button class="button" routerLink="/Checkout">
         Proceed to Payment
         <div class="arrow">-›</div>
       </button>
        </div>
      </div>
    </div>
</div>
</div>



