* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  height: 55px;
}
.navbar-brand{
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}
.home{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-right: 20px;
}
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}
.scroll{
  overflow: scroll;
  height: 400px;
}
.small-container {
  margin: auto;
  display: grid;
  grid-template-columns: 62% 30%;
  gap: 20px;

}
/* cart items */
h2{
  margin-left: 50px;
  margin-top: 60px;
  margin-bottom: 10px;
  color: blueviolet;
  font-weight: bold;
}
.cart-page {
  /* margin: 90px auto; */
  margin-left: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #ffffff;
  background: blueviolet;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 14px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}


/* media query for less than 600 screen size */

h4{
   padding-left: 10px;
   padding-top: 15px;
   font-size: 20px;
  font-weight:700;
}

.amount{
  border:1px solid;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 5;
}

.Order{
  display: grid;
  grid-template-rows: 3;
  gap: 10px;
  height: 50px;
}
.card{
  border-radius: 15px;
box-shadow:  10px 10px 10px #bebebe,
             -10px -10px 60px #ffffff;
}
.card-text{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.card-title{
  margin-top: 5px;
  margin-left: 5px;
}


.button {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 0px 15px;
  background-color: rgb(66, 66, 66);
  border-radius: 10px;
  color: white;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  margin-left: 40px;
  margin-bottom: 15px;
}

.bell {
  width: 13px;
}

.bell path {
  fill: rgb(0, 206, 62);
}

.arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgb(101, 18, 196);
  transition-duration: .2s;
}

.button:hover .arrow {
  animation: slide-right .6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button:active {
  transform: translate(1px , 1px);
  transition-duration: .2s;
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .small-container {
    display: grid;
    grid-template-columns:100%;
    gap: 20px;

  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
  .cart-page {
    margin: 30px auto;
    margin-left: 20px;
  }
  h2{
    margin-left: 17px;
  }
}
