<!-- <div class="header">
  <h2>ShopFusion</h2>
</div>
<div class="navigation">
  <div class="sidebar">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Login</a></li>
      <li><a href="">Signup</a></li>
      <li><a href="">Userlogin</a></li>
      <li><a href="">Usersignup</a></li>
      <li><a href="">contact</a></li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
> -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Lootdeal Hub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex" role="search">
        <input class="form-control me-2 w-500" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
           Electronic
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/mobiles">Mobiles</a></li>
            <li><a class="dropdown-item" routerLink="/laptops">Laptops</a></li>
            <li><a class="dropdown-item" routerLink="/Led">LED</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Men
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/menClothes">Clothes</a></li>
            <li><a class="dropdown-item" routerLink="/menFootwear">Footwear</a></li>
          </ul>
        </li>  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Women
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/womenClothes">Clothes</a></li>
            <li><a class="dropdown-item" routerLink="/womenFootwear">Footwear</a></li>
            <li><a class="dropdown-item" routerLink="/beautyProduct">Beauty & grooming</a></li>
          </ul>
        </li>  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Baby & Kids
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/kidsClothes">Baby clothes</a></li>
            <li><a class="dropdown-item" routerLink="/kidsFootwear">Baby Footwear</a></li>
            <li><a class="dropdown-item" href="#">Toys</a></li>
          </ul>
        </li>  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Home & Furniture
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/kitchenStore">Kitchen store</a></li>
            <li><a class="dropdown-item" routerLink="/roomFurniture">Bed room furniture</a></li>
          </ul>
        </li>  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sports
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/sportsKit">Sports kit</a></li>
            <li><a class="dropdown-item" routerLink="/sports&fitness">Excercise Fitness</a></li>
          </ul>
        </li>  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Books
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/allbooks">All books</a></li>
          </ul>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="user/login">Offer Zone</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div>
<router-outlet></router-outlet>
