/* *{
  margin: 0px !important;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}
img{
  vertical-align: bottom;
}
body{
  margin: 0px !important;
}
.header{
  width: 100%;
  height:65px;
  background-color:lightcoral;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;

}
.navigation{
  display: flex;
  position: relative;
}
.sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background-color:pink;
  padding: 30px,0px;
  margin-top: 0px;
}
h2{
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding: 15px;
  color: black;
  font-weight: bold;
}
ul li{
  padding: 15px;
  border-bottom: 1px solid green;
  border-top: 1px solid white;
}

a{
  color: red;
  display: block;
}
ul li:hover a{
  color: #fff;
} */

.cart{
  width: 50px;
  cursor: pointer;
}
