.body{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:#fffdd0; */
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.login-container {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  margin-top:0.5rem;
  margin-bottom: 1rem;


}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #0056b3;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}
.error-message{
  color: red;
  font-size: 12px;
}
h3 {
  color: #333;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}
