<!-- <div class="owl-carousel">
    <div class="item">
      <div class="crousel">
         <div>
           <img class="crousel_image" src="../../../assets/images/back-1.webp" alt="">
         </div>
      </div>
    </div>
    <div class="item">
      <div class="crousel">
         <div style="height: 25%;">
           <img class="crousel_image" src="../../../assets/images/back-1.webp" alt="" height="45%">
         </div>
      </div>
    </div>
  </div> -->
  <div>
    <img src="../../../assets/images/1.jpg" alt="" width="100%">
  </div>
