
.card-body{
  text-align: center;
  margin-top: 4px;
}
.card2{
  cursor: pointer;
}
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff; /* Change to your desired color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 50%;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top:25px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

