<app-usernavbar></app-usernavbar>
<div>
  <img src="../../../assets/images/mens_clothes.png" alt="" width="100%" max-height="35%">
</div>
<div class="loader" *ngIf="isLoading"></div>
<div class="row">
  <div class="card2" style="width: 18rem;" *ngFor="let value of Data">
    <img [src]="value.thumbnail" class="card-img-top" alt="..." class="all_image"><br>
    <div class="card-body">
      <h5 class="card-title">{{value.category}}</h5>
      <span>{{value.title}}</span>
      <p class="card-text">{{value.brand}}</p>
      <p style="color: #777;">{{value.price|currency:'INR'}}</p>
   <div class="cart">
    <button href="#" class=" btn1">Add to Cart</button>
   </div>
</div>
  </div>
</div>
<app-footer></app-footer>
