<app-adminhome></app-adminhome>
<div class="container">
  <h1>
    All Users list
  </h1>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>

      </tr>
    </thead>
    <div class="loader" *ngIf="isLoading"></div>
    <tbody *ngFor="let value of data">
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <!-- <img
            [src]="value.thumbnail"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                /> -->
            <div class="ms-3">
              <p class="fw-bold mb-1">{{value.Name}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-bold mb-1">{{value.email}}</p>
        </td>
        <td>
          <button type="button" class="btn  btn-link btn-sm btn-rounded fw-bold" style="color: red;text-decoration: none;" (click)="deleteUsers(value._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
