/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
img{vertical-align: bottom;}

.row{
  gap: 10px;
  padding-top: 2rem;
  justify-content: center;
  width: 98.7vw;
  margin: auto;
}
h1{
  color: red;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.all_image{
  width:100%;
  height: 37%;
}

.btn1{
  background-color: rgb(181, 160, 160);
  width: 224px;
  border-radius: 10px;
  color: #fff;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.btn1:hover {
background-color: rgb(243, 243, 159);}
