<!-- <div class="login login-container"> -->
  <div>
    <div class="login_section container">
      <div>
        <!-- <div class="login-image"> -->
          <img class="login-image" src="../../../assets/images/register.jpg" alt="Side Image">
        <!-- </div> -->
      </div>
      <!-- <div> -->
        <form class="login-form">
          <h3>Seller Register</h3>
          <div class="form-group">
            <label for="email">Name</label>
            <input class="form-control" type="text" id="text" name="Name" placeholder="Full name" required>
          </div>
          <div class="form-group">
            <label for="email">Seller Id</label>
            <input class="form-control" type="text" id="text" name="seller Id" placeholder="Seller Id" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="text" name="email" placeholder="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
          </div>
          <div class="form-group">
            <label for="password">Confirmed Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Confirmed Password" required>
          </div>
          <button type="submit">Register</button>
          <div class="signup-link">
            <p>If you are alredy registered? <a routerLink="/user/login">Login</a></p>

           </div>
        </form>

      <!-- </div> -->
    </div>
  </div>
