.container{
  margin-top: 5rem;
}
th{
background-color:  rgb(198, 132, 224);
height: 45px;
}
a{
  text-decoration: none;
}
.btn1{
  color: red;
}
h1{
  padding-bottom: 20px;
  font-weight: bold;
  color: blue;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

